* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}
